

.open-sans-normal{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

/* shared styles */
.sec-title{
    font-size: ;
}
/* nav bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 38px 0px;
    
}
nav h3{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    margin-left: 150px;
}
.btn1{
    background-color: white;
    font-weight: 600;
    font-size: 20px;
    color: rgb(13, 19, 33);
    padding: 17px 24px;
    text-align: center;
    border-radius: 8px;
    margin-right: 166px;
}
/* nav complete */
/* banner */
.banner{
   display: flex;
   background-image: url('../assets/Hero-bg.png'); 
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 100%;
   width: 100%;   
   
}
.banner-content{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 998px;
    height: 582px;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
}
.banner-title{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;

}
.banner-description{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}
.btn2{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 21px 24px;
    color: white;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    margin-top: 20px;
}
/* banner complete */
/* main section start */
/* Web dev start*/
.main-part{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 120px;
    margin-bottom: 120px;
}
.web-background{
    border-radius: 16px;
    background: rgba(110, 147, 182, 0.027);

}
.dev-part1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dev-title1{
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 24px;
}
.dev-title-description1{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 50px;
    text-align: center;
    padding: 0px 200px;
}
.dev-content1{
    display: flex;
    gap: 150px;
    justify-content: space-between;
    margin: 0px 50px; 
    margin-bottom: 50px;
    background-color: white; 
}
.dev-part1-img{
    width: 350px;
}
.dev-content-title1{
    font-size: 30px;
    font-weight: 700;
    color: rgba(13, 19, 33, 0.7);
}
.dev-content-description1{
    font-size: 24px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    margin-bottom: 40px;
}
/* development part complete */
/* Inspriation par */
.my-inspiration{
    display: flex;
    flex-direction: column;
    text-align: center;
}


